@model List<Student>

@{
    ViewData["title"] = "Students List";
    ViewData["class"] = "btn-delete";
}

<table id="tableStudents" class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Grado</th>
            <th scope="col">Jornada</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody id="bodyTable">
        @{int cont = 0; }

        @foreach (var student in Model)
        {
            <tr id="@student.id">
                <th scope="row">@(cont++)</th>
                <td>@student.id_estudiantil</td>
                <td>@student.nombre.</td>
                <td>@student.grado</td>
                <td>@student.jornada</td>
                <td>
                    <a idStudent="@student.id" class=@ViewData["class"]>Eliminar</a>
                </td>
                <td>
                    <a idStudent="@student.id" class="btn-edit">Editar</a>
                </td>
            </tr>


        }

    </tbody>
</table>

<hr />

<div id="form-edit" class="row" style="display:none;">
    <div class="col-md-4">
        <form>
            <input id="studentId" type="hidden" value="" />
            <div class="form-group">
                <label class="control-label">Id Estudiantil</label>
                <input id="idStudent" class="form-control" />
                <span id="validIdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input id="nombre" class="form-control" />
                <span id="validNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Grado</label>
                <input id="grado" class="form-control" />
                <span id="validGrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Jornada</label>
                <input id="jornada" class="form-control" />
                <span id="validJornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="btn-edit-student" class="btn btn-primary">Editar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
    $(document).ready(function(){

        //$(".btn-delete").click(async function () {
        //    const idStudent = $(this).attr("idStudent");
        //    console.log("se hizo click ", idStudent);
        //    const response = await $.ajax({
        //        method: "GET",
        //        url: "/Student/Delete/" + idStudent,
        //    });
        //    console.log(response);
        //    renderBodyTableStudent(response);
        //});

        $(document).on("click",".btn-delete",async function () {
            const idStudent = $(this).attr("idStudent");
            let row = $(`#${idStudent}`);//$("#45")
            console.log("se hizo click ", idStudent);
            const response = await $.ajax({
                method: "GET",
                url: `/Student/Delete/${idStudent}`,
            });
            console.log(response);
            row.remove();
           // renderBodyTableStudent(response);
        });

        $(document).on("click", ".btn-edit", async function () {
            const idStudent = $(this).attr("idStudent");
            console.log("se hizo click ", idStudent);
            const response = await $.ajax({
                method: "GET",
                url: `/Student/Edit/${idStudent}`,
            });
            console.log(response);
            $("#idStudent").val(response.id_estudiantil);
            $("#nombre").val(response.nombre);
            $("#grado").val(response.grado);
            $("#jornada").val(response.jornada);
            $("#studentId").val(response.id);
            $("#form-edit").show();

        });

        $(document).on("click", "#btn-edit-student", function () {
            $("#form-edit").hide();

            const student = {
                id: parseInt($("#studentId").val()),
                id_estudiantil: parseInt($("#idStudent").val()),
                nombre: $("#nombre").val(),
                grado: parseInt($("#grado").val()),
                jornada: $("#jornada").val(),
            };

            console.log(student);

            $.ajax({
                method: "POST",
                url: `/Student/Edit`,
                data: student,
                success: function (response) {
                    if (response.success) {
                        let row = $(`#${student.id}`);
                        const cont = row.find("th").html();
                        row.html(`<th>${cont}</th>
                            <td>${student.id_estudiantil}</td>
                            <td>${student.nombre}</td>
                            <td>${student.grado}</td>
                            <td>${student.jornada}</td>
                            <td>
                                <a idStudent="${student.id}" class=@ViewData["class"]>Eliminar</a>
                            </td>
                            <td>
                                <a idStudent="${student.id}" class="btn-edit">Editar</a>
                            </td>`);
                    }
                }
            });
        });

        function renderBodyTableStudent(props) {
            const { success, students } = props;
            if (success) {

                let bodyTable = $("#bodyTable");

                let content = "";
                let cont = 0;
                for (const student of students) {
                    console.log(student);
                    content += `<tr>
                    <th scope="row">${cont++}</th>
                    <td>${student.id_estudiantil}</td>
                    <td>${student.nombre}</td>
                    <td>${student.grado}</td>
                    <td>${student.jornada}</td>
                    <td>
                        <a idStudent="${student.id}" class=@ViewData["class"]>Eliminar</a>
                    </td>
                    </tr>`;
                }
                bodyTable.html(content);
            }
        }

    });
    </script>
}

